<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TitanScouting"
        tools:targetApi="31">
        <activity
            android:name=".QRScreen"
            android:exported="false" />
        <activity
            android:name=".views.Summary"
            android:exported="false" />
        <activity
            android:name=".views.Endgame"
            android:exported="false" />
        <activity
            android:name=".views.Teleop"
            android:exported="false" />
        <activity
            android:name=".views.Autonomous"
            android:exported="false" />
        <activity
            android:name=".views.logs.SingleMatchView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Pregame"
            android:exported="false"
            android:label="@string/pre_game" />
        <activity
            android:name=".views.logs.Logs"
            android:exported="false"
            android:label="@string/logs" />
    </application>

</manifest>